/* Import partial files into this main file*/
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components 

1em = 16px
*/
/* Add SASS variables */
/* Move SASS variables from main file to this variable file */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* Use inherit-style */
  /* box-sizing: border-box; */
  box-sizing: inherit; }

/** Convert px to rem*/
html {
  font-size: 62.5%;
  /* 
    * This defines what 1 rem is
    * % Allow user to change font-size: 1 rem = 10px = 10px/16px *100% */
  /* @include respond(phone) { 
        font-size: 35%; 
    } */ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  /* Follow the inherit-style */
  box-sizing: border-box;
  /* To create a padding around the entire body*/
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* 
    Crazy try out 1:
    60% {
        transform: rotate(120deg);
    } */
  80% {
    transform: translateX(2rem);
    /* Transform a bit more to the right and then move back*/ }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem);
    /* Transform a bit more to the right and then move back*/ }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* To create animation effects for the button*/
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* To clear the unnecessary animation shake of the back of the element*/
  backface-visibility: hidden;
  /* To add some space between the heading and the button */
  margin-bottom: 6rem; }
  .heading-primary-main {
    display: block;
    /* To create line break between two span elements/lines*/
    font-size: 6rem;
    font-weight: 4.5rem;
    letter-spacing: 3.5rem;
    /* For animation to work */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary-main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    /* Check available font-weight of the font*/
    letter-spacing: 1.74rem;
    /* Try out on browser console to get the proper size*/
    animation: moveInRight 1s ease-out;
    /* Use shorthand property */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary-sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  /* Basic settings for secondary heading*/
  display: block;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  /* Create space*/
  text-align: center;
  padding: 10rem 0 1.8rem 0;
  /* To create a gradient heading */
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-tertiary {
  color: #777;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  text-align: justify;
  font-size: 1.6rem;
  margin: 1.8rem 0 3rem 0;
  /* &:not(:last-child){
        margin-bottom: 3rem;
    } */ }

.feature__card-text {
  text-align: center;
  font-size: 1.6rem;
  margin: 1.8rem 2rem 3rem 2rem; }

.menu-heading {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: .2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 10rem;
  right: 1rem; }

.only {
  font-size: large;
  font-weight: 600;
  text-transform: uppercase; }

.dollar {
  font-size: 6.5rem;
  font-weight: 300; }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* Clip the background image clip-path: polygon(x y, x y, x y);*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.description {
  background-color: #f7f7f7; }

.feature {
  /* Create the feature background */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), #28b485), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  /* Create a parallelogram picture background*/ }

.menu {
  background-color: #f7f7f7;
  color: #777; }

.book {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.footer {
  background-color: #333;
  color: #fff; }

.bg-orange {
  /* To create a gradient heading */
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
  color: #fff;
  /* background-color: $color-secondary-dark;
    opacity: .6; */ }

.bg-green {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
  color: #fff; }

.bg-blue {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
  color: #fff; }

/** Pseudo class: a special name for a selector, to style element under special condition;
If not styled, the link will have a default style. */
.btn {
  /* Effects after click */
  /**Pseudo elements: style certain parts of an element */
  /* Create the animation for the specific button*/ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    /* To clear underline*/
    padding: 1.5rem 4rem;
    /* padding: top and bottom; left and right*/
    /* Change an inline element to an inline block so that it could have its own space*/
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    /* All the properties are enabled to be animated */
    position: relative;
    /* border: none;
        cursor: pointer; */ }
  .btn:hover {
    transform: translateY(-3px);
    /* Negative value: to go up */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /* box-shadow: X Y Blur Color */
    /* To show the after effects after hovering on the button */ }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      /* To increase the element's scale in X and Y direction*/
      /**Remember to add 'transition' property to the initial state*/
      /* To fade sth out */
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-0.1rem);
    /* In relation to the initial link state */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn-white {
    background-color: #fff;
    color: #777;
    /* Nesting in a nested element */ }
    .btn-white::after {
      background: #fff; }
  .btn-green {
    background-color: #55c57a;
    color: #fff;
    /* Nesting in a nested element */ }
    .btn-green::after {
      background: #55c57a; }
  .btn::after {
    /* ':: after' 
        is a virtual element after the element we select
        is like a child of the button element
        looks exactly like the button*/
    content: "";
    /* It's always necessary to make sure it appears*/
    display: inline-block;
    /* Because the button is an inline block*/
    height: 100%;
    /* In relation to the button*/
    width: 100%;
    border-radius: 10rem;
    /* To put it behind the button*/
    position: absolute;
    /* Remember to set the 'position:relative' to &*/
    top: 0;
    left: 0;
    z-index: -1;
    /* Define the layer of an element*/
    /* To enable the transform animation transition of the after effects*/
    transition: all 0.4s; }
  .btn-animated {
    animation: moveInButton .5s ease-out .75s;
    /* shorthand: animation: name; duration; timing-function; delay*/
    /* To prevent the button becomes visible before animation happens */
    animation-fill-mode: backwards; }

.btn-text {
  /* Effects after click */ }
  .btn-text:link, .btn-text:visited {
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 3px;
    transition: all .2s;
    /* All the properties are enabled to be animated */
    /* @include respond (tab-port) {
            margin-top: 5rem;
        } */ }
  .btn-text:hover {
    transform: translateY(-3px);
    /* Negative value: to go up */
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /*box-shadow: X Y Blur Color */
    color: #fff;
    background: #55c57a; }
  .btn-text:active {
    transform: translateY(-0.1rem);
    /* In relation to the initial link state */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-margin {
  margin-top: 5rem; }

.btn-centered {
  margin-top: 5rem;
  text-align: center; }

.btn-narrow {
  /* width: 30%;
    height: 20rem; */
  padding: 1.1rem 4.6rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3); }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #55c57a; }

.header {
  height: 95vh;
  /* padding-bottom: 3rem; */
  position: relative;
  /* To offer relative positioning for child element logo-box*/
  /** Use Nesting feature in SASS*/ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    /* According to the parent element*/
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    /* the width will be figured out automatically  */ }
  .header__text-box {
    position: absolute;
    top: 40%;
    /* In relation to the parent element*/
    left: 50%;
    transform: translate(-50%, -50%);
    /* In relation to the element itself: Shift 50% of the element height and width */
    /* To center the button */
    text-align: center; }

.description {
  display: block;
  padding: 15rem 0 30vh 0;
  margin-top: -20vh; }
  .description__detail {
    display: flex;
    align-items: center;
    padding: 0 9rem;
    padding-left: 3rem;
    margin-top: 5rem;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 56.25em) {
      .description__detail {
        padding-right: 3rem; } }
    .description__detail-content {
      flex: 0 0 42%;
      /* display: block; */
      align-self: flex-start;
      /* padding-top: 2rem; */ }
      @media only screen and (max-width: 56.25em) {
        .description__detail-content {
          flex: 0 0 100%;
          /* padding-right: 0; */ } }
    .description__detail-gallery {
      flex: 0 0 40%;
      position: relative;
      /* To offer relative positioning for child element logo-box*/
      /* &-photobox {
                display: inline-block;
            } */ }
      .description__detail-gallery-photo {
        width: 63%;
        /* height: 19rem; width: 30rem; */
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
        border-radius: 2px;
        outline-offset: 2rem;
        /* To create a border around the photo*/
        z-index: 10;
        transition: all .2s;
        /* To create a smooth animation effects */ }
        @media only screen and (max-width: 56.25em) {
          .description__detail-gallery-photo {
            width: 32%; } }
        @media only screen and (max-width: 37.5em) {
          .description__detail-gallery-photo {
            width: 55%; } }
        .description__detail-gallery-photo--p1 {
          /* position: absolute; */
          top: -17rem;
          /* left: 1rem; */ }
          @media only screen and (max-width: 56.25em) {
            .description__detail-gallery-photo--p1 {
              top: -5rem;
              /* right: 6.5rem; */ } }
        .description__detail-gallery-photo--p2 {
          /* position: absolute; */
          right: -6.5rem;
          top: -12.5rem; }
          @media only screen and (max-width: 56.25em) {
            .description__detail-gallery-photo--p2 {
              top: -5rem;
              right: .5vw; } }
          @media only screen and (max-width: 37.5em) {
            .description__detail-gallery-photo--p2 {
              top: -3rem;
              right: .5vw; } }
        .description__detail-gallery-photo--p3 {
          /* position: absolute; */
          top: -5rem;
          right: 6.5rem;
          /* @include respond(phone) {
                        top: -5rem;
                        right: 30.5vw;
                    } */ }
          @media only screen and (max-width: 56.25em) {
            .description__detail-gallery-photo--p3 {
              top: -5rem;
              left: 31vw;
              /* right: 5vw; */ } }
          @media only screen and (max-width: 37.5em) {
            .description__detail-gallery-photo--p3 {
              top: 5rem;
              left: 22vw; } }
        .description__detail-gallery-photo:hover {
          outline: 1.5rem solid #55c57a;
          /* To create a green border around the photo*/
          transform: scale(1.05) translateY(-0.5rem);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          z-index: 20; }
      .description__detail-gallery:hover .description__detail-gallery-photo:not(:hover) {
        transform: scale(0.95); }
      @media only screen and (max-width: 56.25em) {
        .description__detail-gallery {
          flex: 0 0 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          /* position: static; */
          flex-wrap: wrap;
          margin: 10rem 0;
          margin-bottom: 14rem; } }

.feature {
  padding: 20rem 0;
  margin-top: -8rem;
  /*display: block; */ }
  .feature > * {
    transform: skewY(7deg);
    /* Make sure the elements inside are positioned straightly */ }
  .feature__box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1vw;
    flex-wrap: wrap;
    /* &:not(:last-child) {
            margin-bottom: 3rem;
            margin-right: 8rem;
        } */ }
    @media only screen and (max-width: 75em) {
      .feature__box {
        padding: 0 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .feature__box {
        padding: 0 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .feature__box {
        padding: 1rem; } }
  .feature__card {
    background-color: #f7f7f7;
    opacity: .8;
    width: 24rem;
    height: 31rem;
    margin-bottom: 2rem;
    margin-left: .5rem;
    margin-right: .5rem;
    /* shadow settings */
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    /* flex position */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* display: block;
        text-align: center; */
    /* Enable smooth animation effects of the child elements*/
    transition: all .5s; }
    @media only screen and (max-width: 75em) {
      .feature__card {
        width: 35vw; } }
    @media only screen and (max-width: 56.25em) {
      .feature__card {
        width: 55vw; } }
    @media only screen and (max-width: 37.5em) {
      .feature__card {
        width: 80vw;
        margin: 0 1rem 2rem 1rem; } }
    .feature__card-icon {
      width: 25%;
      stroke: #f7f7f7;
      stroke-width: .8px;
      fill: url(#my-cool-gradient) #55c57a; }
      .feature__card-icon-compass {
        stroke: #f7f7f7;
        stroke-width: 1.5px; }
    .feature__card:hover {
      transform: translateY(-2.5rem); }
  @media only screen and (max-width: 75em) {
    .feature {
      padding-bottom: 8vh; } }

.menu {
  /* Style the section container */
  display: block;
  padding: 15rem 0;
  margin-top: -15vh;
  /* width: 100%; */
  /* * Align rows with flexbox in menu section */
  /* * Align columns in menu section */
  /* * Flip box container to position the front and back side */
  /* * Do an horizontal flip when moving the mouse over the flip box container*/
  /* * Position and style the menu card- front & back*/ }
  .menu__box {
    padding: 4rem 3vw;
    /* ? */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
    @media only screen and (max-width: 75em) {
      .menu__box {
        padding: 0 2vw; } }
    @media only screen and (max-width: 56.25em) {
      .menu__box {
        padding: 0; } }
    @media only screen and (max-width: 37.5em) {
      .menu__box {
        padding: 0; } }
  .menu__box-orange, .menu__box-green, .menu__box-blue {
    /* background-color: white; */
    /* ? */
    width: 24vw;
    height: 52rem;
    /* border: 1px solid #f1f1f1; */
    /* perspective: 1000px; */
    /* ? Remove this if you don't want the 3D effect */
    perspective: 150rem;
    -moz-perspective: 150rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 75em) {
      .menu__box-orange, .menu__box-green, .menu__box-blue {
        /* width: 32rem; */
        margin: 0 1rem;
        width: 26vw; } }
    @media only screen and (max-width: 56.25em) {
      .menu__box-orange, .menu__box-green, .menu__box-blue {
        width: 30vw;
        margin-bottom: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .menu__box-orange, .menu__box-green, .menu__box-blue {
        width: 36rem; } }
  .menu__flip-orange, .menu__flip-green, .menu__flip-blue {
    position: relative;
    width: 100%;
    height: 100%;
    /* ? Add this attribute and the bg-color works*/
    transition: transform 0.8s;
    transform-style: preserve-3d; }
  .menu__box-orange:hover .menu__flip-orange {
    transform: rotateY(180deg); }
  .menu__box-green:hover .menu__flip-green {
    transform: rotateY(180deg); }
  .menu__box-blue:hover .menu__flip-blue {
    transform: rotateY(180deg); }
  .menu__card {
    /* Define the display type of the menu card */
    display: inline-block;
    /* Position the the front and back side to the same place*/
    position: absolute;
    text-align: center;
    /* Set the shadow for the menu card */
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    /* ? width:100%; */
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    /* Style the front card */
    /* Style the back card */ }
    .menu__card-front {
      background-color: #fff; }
    .menu__card-pic {
      background-size: cover;
      background-blend-mode: screen;
      /* ? */
      width: 100%;
      height: 23rem;
      /* align-self: stretch; */
      /* Clip the background image clip-path: polygon(x y, x y, x y, x y);*/
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      .menu__card-pic-orange {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg); }
      .menu__card-pic-green {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../img/nat-6.jpg); }
      .menu__card-pic-blue {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7.jpg); }
    .menu__card-details {
      padding: 3rem; }
      .menu__card-details-text {
        list-style: none;
        width: 80%;
        /* margin: 0 auto;  */ }
        .menu__card-details-text li {
          text-align: center;
          font-size: 1.5rem;
          padding: 1rem; }
          .menu__card-details-text li:not(:last-child) {
            border-bottom: 1px solid #eee; }
    .menu__card-back {
      transform: rotateY(180deg); }

.story {
  /* To position the background video*/
  position: relative;
  /* To position the story section */
  padding: 2rem 0 15rem 0;
  /* To position the the story card*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .story__card {
    width: 70%;
    margin: 4rem 0;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 1vh .5vw;
    font-size: 1.6rem;
    /* To create a parallelogram shape card */
    transform: skewX(-12deg); }
    @media only screen and (max-width: 37.5em) {
      .story__card {
        transform: skewX(0);
        width: 90%; } }
    .story__card-photo {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      /* To position the the photo container*/
      float: left;
      /* To position the photo image and name */
      position: relative;
      /* To hide the overflow image */
      overflow: hidden;
      transform: translateX(-3rem) skewX(12deg); }
      @media only screen and (max-width: 37.5em) {
        .story__card-photo {
          transform: skewX(0); } }
    .story__card-img {
      height: 100%;
      border-radius: 50%;
      transform: translateX(-4rem) scale(1.4);
      backface-visibility: hidden;
      transition: all .5s; }
    .story__card-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 20%);
      color: #fff;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0;
      transition: all .5s;
      backface-visibility: hidden; }
    .story__card:hover .story__card-name {
      opacity: 1;
      transform: translate(-50%, -50%); }
    .story__card:hover .story__card-img {
      transform: translateX(-4rem) scale(1);
      filter: blur(3px) brightness(80%); }
    .story__card-review {
      transform: skewX(12deg); }
      @media only screen and (max-width: 37.5em) {
        .story__card-review {
          transform: skewX(0); } }

.book {
  /* Style the section container background and position*/
  padding: 15rem 0;
  /* Style the form box background and position*/
  /* Style the form elements*/ }
  .book__form-box {
    padding: 6rem 6rem;
    margin: 0 4vw;
    /* display: flex;
        flex-direction: column;
        align-items: flex-start; 
        flex-wrap: wrap; */
    background-image: linear-gradient(108deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: cover;
    /* Or 100% */
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    /* @include respond (phone) {
            margin: 0 1.5vw;
        } */ }
    @media only screen and (max-width: 75em) {
      .book__form-box {
        background-image: linear-gradient(108deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 60%, transparent 50%), url(../img/nat-10.jpg); } }
    @media only screen and (max-width: 56.25em) {
      .book__form-box {
        background-image: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%, transparent 50%), url(../img/nat-10.jpg);
        text-align: center; } }
  .book__form {
    /* Define the width of the form in the form box container */
    width: 45%;
    /* @include respond (phone) {
            width: 90%;
        } */
    /* Style the radio button */ }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        width: 90%; } }
    .book__form-heading {
      padding: 0;
      margin-top: -1rem;
      margin-bottom: 3rem;
      text-align: left; }
      @media only screen and (max-width: 56.25em) {
        .book__form-heading {
          text-align: center; } }
    .book__form-group {
      margin-bottom: 4rem; }
    .book__form-input {
      width: 100%;
      font-size: 1.5rem;
      padding: 1.5rem 1.5rem;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.8);
      border: none;
      border-bottom: 3px solid transparent;
      /* To create a transparent bottom border */
      display: block;
      transition: all .3s; }
      .book__form-input:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid #ff7730; }
      .book__form-input::-webkit-input-placeholder {
        color: #999; }
    .book__form-radio-group {
      /* width: 49%; */
      /* display: inline-block; */
      display: flex;
      /* align-items: flex-start; */
      justify-content: flex-start;
      padding: 2rem 0;
      flex-wrap: wrap; }
      @media only screen and (max-width: 56.25em) {
        .book__form-radio-group {
          justify-content: space-around; } }
    .book__form-radio-label {
      font-size: 1.6rem;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      margin-right: 2vw;
      margin-bottom: 2vh; }
    .book__form-radio-input[type="radio"] {
      opacity: 0; }
    .book__form-radio-button {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      outline-offset: 3.5px;
      outline: 5px solid #55c57a;
      margin-right: 1.5rem;
      /* @include respond (phone) {
                width: .5vw;
                height: .5vh;
                outline-offset: 2.5px;
                outline: 2.5px solid $color-primary;
            } */ }
    .book__form-radio-input[type="radio"]:checked ~ .book__form-radio-button {
      outline-color: #55c57a;
      background: #55c57a; }
    .book__form-radio-input[type="radio"]:checked ~ .book__form-radio-value {
      color: #777; }

.footer {
  padding: 6rem 0;
  text-align: center;
  font-size: 1.4rem; }
  .footer__logo-box {
    margin: 4rem 0; }
  .footer__details {
    display: flex;
    margin-top: 1vh;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5rem; }
  .footer__navigation {
    flex: 0 0 42%;
    border-top: 1px solid #777; }
    @media only screen and (max-width: 75em) {
      .footer__navigation {
        flex: 0 0 100%;
        /* padding: 3rem; */ } }
  .footer__copyright {
    flex: 0 0 35%;
    border-top: 1px solid #777;
    padding-bottom: 3rem; }
    .footer__copyright-content {
      /* margin-right: 5rem; */
      text-align: left; }
    @media only screen and (max-width: 75em) {
      .footer__copyright {
        flex: 0 0 100%;
        border-top: transparent;
        padding-top: 3rem;
        /* padding: 3rem; */ } }
  .footer__list {
    list-style: none;
    display: flex;
    padding: 0;
    /* align-items: center; */
    justify-content: center;
    /* justify-content: space-between; */
    text-transform: uppercase;
    flex-wrap: wrap;
    /* padding-left: -15rem; */
    /* &:not(:last-child) {
            margin-right: 2rem;
        } */ }
  .footer__items {
    display: border-box;
    /* flex: 0 0 23%; */
    /* margin-left: -4rem; */
    margin-right: 2rem; }
  .footer__link {
    text-transform: uppercase;
    /* Effects after click */ }
    .footer__link:link, .footer__link:visited {
      color: #fff;
      display: border-box;
      text-decoration: none;
      /* border-bottom: 1px solid $color-primary; */
      /* padding: 3px; */
      transition: all .2s;
      /* All the properties are enabled to be animated */ }
    .footer__link:hover {
      transform: rotate(5deg) scale(1.3);
      /* Negative value: to go up */
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      /*box-shadow: X Y Blur Color */
      color: #55c57a;
      background: #333; }
    .footer__link:active {
      transform: translateY(-0.1rem);
      /* In relation to the initial link state */
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.navigation {
  /* Style the background for the navigation content*/
  /* Style the navigation content*/ }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    /* ? */
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%; }
  .navigation__background {
    /* Style the background before animation */
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 1000;
    /* Define the transition animation for the background transform*/
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__nav {
    /* Style the nav-content before animation */
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    /* Define the transition animation for the nav-content transform*/
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /* ? */ }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    list-style: none; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all 0.4s; }
    .navigation__link:link span, .navigation__link:visited span {
      margin-right: 1.5rem;
      display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
