// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px / 16(default font size of the browser)
$bp-large: 62.5em; // 1000px

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* 1 rem= 10px*/

	@media only screen and (max-width: $bp-largest) {
		font-size: 50%; // 1 rem = 8px
	}
}

body {
	font-family: $font-primary;
	color: $color-grey-dark-2;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	display: grid;

	/* Define size for each row
       1st row: 80vh
       2nd: min-content/auto --the row grows based on the content
       */
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);

	/* Add 8 equally-sized column that occupy the viewport width 
	  grid-template-columns: repeat(8, 1fr); */
	/* 1 fr: fractional space */

	/* Middle 8 column-width: 1140/ 8 = 14rem */
	grid-template-columns:
		[sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
		[center-start] repeat(
			8,
			[col-start] minmax(min-content, 14rem) [col-end]
		)
		[center-end] minmax(6rem, 1fr) [full-end];

	@media only screen and (max-width: $bp-large) {
		grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
		grid-template-columns:
			[full-start] minmax(6rem, 1fr)
			[center-start] repeat(
				8,
				[col-start] minmax(min-content, 14rem) [col-end]
			)
			[center-end] minmax(6rem, 1fr) [full-end];
	}
}
