.header {
	height: 95vh;
	/* padding-bottom: 3rem; */
	position: relative; /* To offer relative positioning for child element logo-box*/

	/** Use Nesting feature in SASS*/
	&__logo-box {
		position: absolute;
		top: 4rem; /* According to the parent element*/
		left: 4rem;
	}

	&__logo {
		height: 3.5rem; /* the width will be figured out automatically  */
	}

	&__text-box {
		position: absolute;
		top: 40%; /* In relation to the parent element*/
		left: 50%;
		transform: translate(
			-50%,
			-50%
		); /* In relation to the element itself: Shift 50% of the element height and width */

		/* To center the button */
		text-align: center;
	}
}

.description {
	display: block;
	padding: 15rem 0 30vh 0;
	margin-top: -20vh;

	&__detail {
		display: flex;
		align-items: center;
		padding: 0 9rem;
		padding-left: 3rem;
		margin-top: 5rem;
		justify-content: space-around;
		align-content: center;

		flex-wrap: wrap;

		@include respond(tab-port) {
			padding-right: 3rem;
		}

		&-content {
			flex: 0 0 42%;
			/* display: block; */
			align-self: flex-start;
			/* padding-top: 2rem; */

			@include respond(tab-port) {
				flex: 0 0 100%;
				/* padding-right: 0; */
			}
		}

		&-gallery {
			flex: 0 0 40%;
			position: relative; /* To offer relative positioning for child element logo-box*/

			&-photo {
				width: 63%; /* height: 19rem; width: 30rem; */
				position: absolute;
				box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
				border-radius: 2px;
				outline-offset: 2rem; /* To create a border around the photo*/
				z-index: 10;
				transition: all 0.2s; /* To create a smooth animation effects */

				@include respond(tab-port) {
					width: 32%;
				}

				@include respond(phone) {
					width: 55%;
				}

				&--p1 {
					/* position: absolute; */
					top: -17rem;
					/* left: 1rem; */
					@include respond(tab-port) {
						top: -5rem;
						/* right: 6.5rem; */
					}
				}

				&--p2 {
					/* position: absolute; */
					right: -6.5rem;
					top: -12.5rem;

					@include respond(tab-port) {
						top: -5rem;
						right: 0.5vw;
					}

					@include respond(phone) {
						top: -3rem;
						right: 0.5vw;
					}
				}

				&--p3 {
					/* position: absolute; */
					top: -5rem;
					right: 6.5rem;

					@include respond(tab-port) {
						top: -5rem;
						left: 31vw;
						/* right: 5vw; */
					}

					@include respond(phone) {
						top: 5rem;
						left: 22vw;
					}

					/* @include respond(phone) {
                        top: -5rem;
                        right: 30.5vw;
                    } */
				}

				&:hover {
					outline: 1.5rem solid $color-primary; /* To create a green border around the photo*/
					transform: scale(1.05) translateY(-0.5rem);
					box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
					z-index: 20;
				}
			}

			&:hover &-photo:not(:hover) {
				transform: scale(0.95);
			}

			/* &-photobox {
                display: inline-block;
            } */

			@include respond(tab-port) {
				flex: 0 0 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				/* position: static; */

				flex-wrap: wrap;

				margin: 10rem 0;
				margin-bottom: 14rem;
			}
		}
	}
}

.feature {
	padding: 20rem 0;
	margin-top: -8rem;

	/*display: block; */

	& > * {
		transform: skewY(
			7deg
		); /* Make sure the elements inside are positioned straightly */
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 0 1vw;

		flex-wrap: wrap;
		/* &:not(:last-child) {
            margin-bottom: 3rem;
            margin-right: 8rem;
        } */

		@include respond(tab-land) {
			padding: 0 6rem;
		}

		@include respond(tab-port) {
			padding: 0 3rem;
		}

		@include respond(phone) {
			padding: 1rem;
		}
	}

	&__card {
		background-color: $color-grey-light-1;
		opacity: 0.8;
		width: 24rem;
		height: 31rem;

		margin-bottom: 2rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;

		/* shadow settings */
		box-shadow: 0 1rem 4rem rgba($color-black, 0.3);
		border-radius: 3px;

		/* flex position */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		/* display: block;
        text-align: center; */

		/* Enable smooth animation effects of the child elements*/
		transition: all 0.5s;

		@include respond(tab-land) {
			width: 35vw;
		}

		@include respond(tab-port) {
			width: 55vw;
		}

		@include respond(phone) {
			width: 80vw;
			margin: 0 1rem 2rem 1rem;
		}

		&-icon {
			width: 25%;
			stroke: $color-grey-light-1;
			stroke-width: 0.8px;
			fill: url(#my-cool-gradient) $color-primary;

			&-compass {
				stroke: $color-grey-light-1;
				stroke-width: 1.5px;
			}
		}

		&:hover {
			transform: translateY(-2.5rem);
		}
	}

	@include respond(tab-land) {
		padding-bottom: 8vh;
	}
}

.menu {
	/* Style the section container */
	display: block;
	padding: 15rem 0;
	margin-top: -15vh;
	/* width: 100%; */

	/* * Align rows with flexbox in menu section */
	&__box {
		padding: 4rem 3vw; /* ? */

		display: flex;
		align-items: center;
		justify-content: space-around;

		flex-wrap: wrap;

		@include respond(tab-land) {
			padding: 0 2vw;
		}

		@include respond(tab-port) {
			padding: 0;
		}

		@include respond(phone) {
			padding: 0;
		}
	}

	/* * Align columns in menu section */
	&__box-orange,
	&__box-green,
	&__box-blue {
		/* background-color: white; */ /* ? */

		width: 24vw;
		height: 52rem;
		/* border: 1px solid #f1f1f1; */

		/* perspective: 1000px; */ /* ? Remove this if you don't want the 3D effect */
		perspective: 150rem;
		-moz-perspective: 150rem;

		margin-bottom: 2rem;

		@include respond(tab-land) {
			/* width: 32rem; */
			margin: 0 1rem;
			width: 26vw;
		}

		@include respond(tab-port) {
			width: 30vw;
			margin-bottom: 3rem;
		}

		@include respond(phone) {
			width: 36rem;
		}
	}

	/* * Flip box container to position the front and back side */
	&__flip-orange,
	&__flip-green,
	&__flip-blue {
		position: relative;
		width: 100%;
		height: 100%; /* ? Add this attribute and the bg-color works*/

		transition: transform 0.8s;
		transform-style: preserve-3d;
	}

	/* * Do an horizontal flip when moving the mouse over the flip box container*/
	&__box-orange:hover &__flip-orange {
		transform: rotateY(180deg);
	}

	&__box-green:hover &__flip-green {
		transform: rotateY(180deg);
	}

	&__box-blue:hover &__flip-blue {
		transform: rotateY(180deg);
	}

	/* * Position and style the menu card- front & back*/
	&__card {
		/* Define the display type of the menu card */
		display: inline-block;

		/* Position the the front and back side to the same place*/
		position: absolute;

		text-align: center;

		/* Set the shadow for the menu card */
		box-shadow: 0 1rem 4rem rgba($color-black, 0.3);
		border-radius: 3px;

		/* ? width:100%; */
		width: 100%;
		height: 100%;

		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;

		/* Style the front card */
		&-front {
			background-color: $color-white;
		}

		&-pic {
			background-size: cover;
			background-blend-mode: screen; /* ? */

			width: 100%;
			height: 23rem;
			/* align-self: stretch; */
			/* Clip the background image clip-path: polygon(x y, x y, x y, x y);*/
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
			clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

			border-top-left-radius: 3px;
			border-top-right-radius: 3px;

			&-orange {
				background-image: linear-gradient(
						to right bottom,
						$color-secondary-light,
						$color-secondary-dark
					),
					url(../../img/nat-5.jpg);
			}

			&-green {
				background-image: linear-gradient(
						to right bottom,
						$color-primary-light,
						$color-primary-dark
					),
					url(../../img/nat-6.jpg);
			}

			&-blue {
				background-image: linear-gradient(
						to right bottom,
						$color-tertiary-light,
						$color-tertiary-dark
					),
					url(../../img/nat-7.jpg);
			}
		}

		&-details {
			padding: 3rem;

			&-text {
				list-style: none;
				width: 80%;
				/* margin: 0 auto;  */

				li {
					text-align: center;
					font-size: 1.5rem;
					padding: 1rem;

					&:not(:last-child) {
						border-bottom: 1px solid $color-grey-light-2;
					}
				}
			}
		}

		/* Style the back card */
		&-back {
			transform: rotateY(180deg);
		}
	}
}

.book {
	/* Style the section container background and position*/
	padding: 15rem 0;

	/* Style the form box background and position*/
	&__form-box {
		padding: 6rem 6rem;
		margin: 0 4vw;
		/* display: flex;
        flex-direction: column;
        align-items: flex-start; 
        flex-wrap: wrap; */

		background-image: linear-gradient(
				108deg,
				rgba($color-white, 0.9) 0%,
				rgba($color-white, 0.9) 50%,
				transparent 50%
			),
			url(../img/nat-10.jpg);
		background-size: cover; /* Or 100% */
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

		@include respond(tab-land) {
			background-image: linear-gradient(
					108deg,
					rgba($color-white, 0.9) 0%,
					rgba($color-white, 0.9) 60%,
					transparent 50%
				),
				url(../img/nat-10.jpg);
		}

		@include respond(tab-port) {
			background-image: linear-gradient(
					rgba($color-white, 0.9) 0%,
					rgba($color-white, 0.9) 100%,
					transparent 50%
				),
				url(../img/nat-10.jpg);

			text-align: center;
		}

		/* @include respond (phone) {
            margin: 0 1.5vw;
        } */
	}

	/* Style the form elements*/
	&__form {
		/* Define the width of the form in the form box container */
		width: 45%;

		@include respond(tab-port) {
			width: 90%;
		}

		/* @include respond (phone) {
            width: 90%;
        } */

		&-heading {
			padding: 0;
			margin-top: -1rem;
			margin-bottom: 3rem;
			text-align: left;

			@include respond(tab-port) {
				text-align: center;
			}
		}

		&-group {
			margin-bottom: 4rem;
		}

		&-input {
			width: 100%;
			font-size: 1.5rem;
			padding: 1.5rem 1.5rem;
			border-radius: 2px;
			background-color: rgba($color-white, 0.8);
			border: none;
			border-bottom: 3px solid transparent; /* To create a transparent bottom border */
			display: block;
			transition: all 0.3s;

			&:focus {
				outline: none;
				box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
				border-bottom: 3px solid $color-secondary-dark;
			}

			&::-webkit-input-placeholder {
				color: $color-grey-dark-2;
			}
		}

		/* Style the radio button */
		&-radio-group {
			/* width: 49%; */
			/* display: inline-block; */
			display: flex;
			/* align-items: flex-start; */
			justify-content: flex-start;
			padding: 2rem 0;
			flex-wrap: wrap;

			@include respond(tab-port) {
				justify-content: space-around;
			}
		}

		&-radio-label {
			font-size: $default-font-size;
			cursor: pointer;
			display: inline-flex;
			align-items: center;

			margin-right: 2vw;
			margin-bottom: 2vh;
		}

		&-radio-input[type="radio"] {
			opacity: 0;
		}

		&-radio-button {
			width: 1.2rem;
			height: 1.2rem;
			border-radius: 50%;
			outline-offset: 3.5px;
			outline: 5px solid $color-primary;
			margin-right: 1.5rem;

			/* @include respond (phone) {
                width: .5vw;
                height: .5vh;
                outline-offset: 2.5px;
                outline: 2.5px solid $color-primary;
            } */
		}

		&-radio-input[type="radio"]:checked ~ &-radio-button {
			outline-color: $color-primary;
			background: $color-primary;
		}

		&-radio-input[type="radio"]:checked ~ &-radio-value {
			color: $color-grey-dark;
		}
	}
}
