.whatgpt {
	padding: 6rem 7rem;
	margin: 4rem 9.5rem;
	/* ff 3.6+ */
	background: -moz-radial-gradient(
		circle at 30% -100%,
		#042c54 25%,
		rgba(4, 44, 84, 1) 85%,
		rgba(27, 120, 222, 1) 100%
	);

	/* safari 5.1+,chrome 10+ */
	background: -webkit-radial-gradient(
		circle at 30% -100%,
		#042c54 25%,
		rgba(4, 44, 84, 1) 85%,
		rgba(27, 120, 222, 1) 100%
	);

	/* opera 11.10+ */
	background: -o-radial-gradient(
		circle at 30% -100%,
		#042c54 25%,
		rgba(4, 44, 84, 1) 85%,
		rgba(27, 120, 222, 1) 100%
	);

	/* ie 10+ */
	background: -ms-radial-gradient(
		circle at 30% -100%,
		#042c54 25%,
		rgba(4, 44, 84, 1) 85%,
		rgba(27, 120, 222, 1) 100%
	);

	/* global 92%+ browsers support */
	background: radial-gradient(
		circle at 30% -100%,
		#042c54 25%,
		rgba(4, 44, 84, 1) 85%,
		rgba(27, 120, 222, 1) 100%
	);

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/** Styling for Top Container **/
.whatgpt__top-container {
	margin-bottom: 9rem;
}
.whatgpt__top-container .feature .feature__title {
	width: 80%;
}
.whatgpt__top-container .feature .feature__text {
	padding-top: 2rem;
}

/** Styling for Middle Container **/
.whatgpt__middle-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 9rem;
}
.whatgpt__middle-container h1 {
	width: 47.2rem;
}
.feature__heading {
	font-size: 3.4rem;
}
/** Styling for Bottom Container **/
.whatgpt__bottom-container {
	display: flex;
	/* justify-content: space-between; */
}
.whatgpt__bottom-container .feature {
	flex-direction: column;
	margin-right: 3rem;
}
.whatgpt__bottom-container .feature .feature__title {
	margin-bottom: 3rem;
}

/** Responsive Design **/
@media screen and (max-width: 1140px) {
	/* Top */
	.whatgpt__top-container {
		margin-bottom: 4rem;
	}

	.whatgpt__top-container .feature .feature__text {
		padding-top: 0;
	}
	/* Middle */
	.whatgpt__middle-container {
		margin-bottom: 4rem;
	}

	.feature__heading {
		font-size: 3rem;
	}
	/* Bottom */
}
@media screen and (max-width: 1055px) {
	.whatgpt__top-container .feature {
		flex-direction: column;
	}

	/* Middle */
	.whatgpt__middle-container {
		flex-direction: column;
		align-items: flex-start;
	}
	.whatgpt__middle-container h1 {
		margin-bottom: 2rem;
		width: 100%;
	}
	/* Bottom */
	.whatgpt__bottom-container {
		flex-direction: column;
		align-items: flex-start;
	}
	.whatgpt__bottom-container .feature .feature__title {
		margin-bottom: 0;
	}
	.whatgpt__bottom-container .feature .feature__text {
		margin-bottom: 3rem;
	}
}
@media screen and (max-width: 900px) {
	.whatgpt {
		padding: 4rem;
		margin: 7rem;
	}
}
@media screen and (max-width: 550px) {
	.whatgpt {
		padding: 3rem;
		margin: 3rem;
	}
}
