body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color:$color-white;
    text-transform: uppercase;
    
    /* To clear the unnecessary animation shake of the back of the element*/
    backface-visibility: hidden;

    /* To add some space between the heading and the button */
    margin-bottom: 6rem;

    &-main {
        display: block; /* To create line break between two span elements/lines*/
        font-size: 6rem;
        font-weight: 4.5rem;
        letter-spacing: 3.5rem; 

        /* For animation to work */
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out; 

        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }

    &-sub {
        display: block;
        font-size: 2rem;
        font-weight: 700; /* Check available font-weight of the font*/
        letter-spacing: 1.74rem; /* Try out on browser console to get the proper size*/
        animation: moveInRight 1s ease-out;/* Use shorthand property */

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    /* Basic settings for secondary heading*/
    display: block;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;

    /* Create space*/
    text-align: center;
    padding: 10rem 0 1.8rem 0;

    /* To create a gradient heading */
    background-image: linear-gradient(to right, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
    -webkit-background-clip: text;
    color:transparent;

    letter-spacing: .2rem;

    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

    @include respond(tab-port) {
        font-size: 2.5rem;
    }

    @include respond(phone) {
        font-size: 2rem;
    }
}

.heading-tertiary {
    color: $color-grey-dark;
    font-size: $default-font-size;
    font-weight:700;
    text-transform: uppercase;
}

.paragraph {
    text-align: justify;
    font-size: $default-font-size;
    margin: 1.8rem 0 3rem 0;
    /* &:not(:last-child){
        margin-bottom: 3rem;
    } */
}

.feature__card-text {
    text-align: center;
    font-size: $default-font-size;
    margin: 1.8rem 2rem 3rem 2rem;
}

.menu-heading {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: absolute;
    top: 10rem;
    right: 1rem;
}

.only {
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
}

.dollar {
    font-size: 6.5rem;
    font-weight: 300;
}


