@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem) /* Transform in the x direction, negative value mean going to the left*/
        /* 
        Crazy try out 1:
        rotate(-50deg); */
    }

    /* 
    Crazy try out 1:
    60% {
        transform: rotate(120deg);
    } */

    80% {
        transform: translateX(2rem); /* Transform a bit more to the right and then move back*/
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(-10rem) /* Transform in the x direction, negative value mean going to the left*/
    }

    80% {
        transform: translateX(2rem); /* Transform a bit more to the right and then move back*/
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

/* To create animation effects for the button*/
@keyframes moveInButton {
    0%{
        opacity: 0;
        transform: translateY(3rem) /* Transform in the Y direction, positive value means moving down*/
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}
