.header {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/hero.jpg);   
    background-size: cover;
    background-position: top;

    /* Clip the background image clip-path: polygon(x y, x y, x y);*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.description {
    background-color: $color-grey-light-1;
}

.feature {
    /* Create the feature background */
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 1)),
        url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg); /* Create a parallelogram picture background*/
}

.menu {
    background-color: $color-grey-light-1;
    color: $color-grey-dark;
}

.book {
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.footer {
    background-color: $color-grey-dark-3;
    color: $color-white;
}

.bg-orange {
    /* To create a gradient heading */
    background-image:linear-gradient(to right bottom, rgba($color-secondary-light, .85), 
    rgba($color-secondary-dark, .85));
    color:$color-white;

    /* background-color: $color-secondary-dark;
    opacity: .6; */
}

.bg-green {
    background-image:linear-gradient(to right bottom, rgba($color-primary-light, .85), 
    rgba($color-primary-dark, .85));
    color:$color-white;
}

.bg-blue {
    background-image:linear-gradient(to right bottom, rgba($color-tertiary-light, .85), 
    rgba($color-tertiary-dark, .85));
    color:$color-white;
}
