.feature {
	display: flex;
	/* flex-direction: row;
	justify-content: space-between; */
}
.gradient__bar {
	width: 3.8rem;
	height: 0.3rem;
	/* margin-bottom: 1.5rem; */
}
.feature__title h1 {
	font-size: 24px;
	font-style: normal;
	font-weight: 800;
	line-height: 6rem;
	letter-spacing: -0.96px;
}
.feature__text {
	color: var(--color-text);
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 30px; /* 187.5% */
}

@media screen and (max-width: 1140px) {
	.feature__text {
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 1055px) {
	.feature__text {
		font-size: 1.8rem;
	}
}
